<div>
  <table class="table">
    <caption>Monthly Invoice</caption>
    <thead>
      <tr>
        <th>Line Number</th>
        <th>Product Name</th>
        <th>Company Name</th>
        <th>Quantity Ordered</th>
        <th>Regular Price</th>
        <th>Discount Price</th>
      </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
        <% company = Company.find(order.company_id) %>
        <% order.lines.each do |line| %>
          <% supply = Supply.find(line.supply_id) %>

      <tr>
        <th scope="row"><%= line.id %></th>
        <td class="info"><%= supply.name %></td>
        <td class="info"><%= company.name %></td>
        <td class="info"><%= line.quantity %></td>
        <td class="info"><%= supply.unit_price %></td>
      </tr>

      <% end %>
        <% end %>

    </tbody>
  </table>
</div>
