<div class="orders">
  <h1> <%= @order.company.name %> - Order form for <%= @order.month_name %> </h1>
  <form action="/companies/<%= @order.company.id %>/orders/<%= @order.id %>" method="post">
    <input type='hidden' name='_method' value='patch'>
    <select name='supply_id' id='supply_id'>
      <% Supply.all.each do |supply| %>
      <option value='<%= supply.id %>'><%= supply.name %></option>
      <% end %>
    </select>
    <input type="number" name="quantity" id='quantity' min="1" max="999" step="1" size="3" value="1">
    <input type="submit" value="Submit">
  </form>
</div>

<br />

<table class="table table-bordered">
  <tr>
    <th>Supply Item</th>
    <th>Quantity</th>
    <th>Unit Price</th>
    <th>Extended Price</th>
  </tr>
  <% @order.lines.each do |line| %>
  <% supply = Supply.find(line.supply_id) %>
  <tr>
    <td><%= supply.name %></td>
    <td><%= line.quantity %></td>
    <td><%= supply.unit_price %></td>
    <td><%= supply.unit_price * line.quantity %></td>
    <td>
      <form action='/companies/<%= @order.company.id %>/orders/<%= @order.id %>/lines/<%= line.id %>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <button type='submit'>Remove</button>
      </form>
    </td>
  </tr>
  <% end %>
</table>
