<div>
  <table class="table">
    <caption>Monthly Invoice</caption>
    <thead>
      <tr>
        <th>Line Number</th>
        <th>Product Name</th>
        <th>Company Name</th>
        <th>Quantity Ordered</th>
        <th>Regular Price</th>
        <th>Regular Total</th>
        <th>Discount Price</th>
        <th>Total Price</th>
        <th>Money Saved</td>
      </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
        <% company = Company.find(order.company_id) %>
        <% order.lines.each do |line| %>
          <% supply = Supply.find(line.supply_id) %>

      <tr>
        <th scope="row"><%= line.id %></th>
        <td class="active o"><%= supply.name %></td>
        <td class="active o"><%= company.name %></td>
        <td class="active o"><%= line.quantity %></td>
        <td class="danger o">$<%= supply.unit_price %></td>
        <td class="warning o">$<%= reg_total = line.quantity * supply.unit_price %></td>
        <td class="info o">$<%= discount_price = @discount.calculate(line.quantity, supply.unit_price) %></td>
        <td class="warning o">$<%= total = discount_price * line.quantity %></td>
        <td class="success o">$<%= reg_total - total %></td>
      </tr

      <% end %>
        <% end %>

    </tbody>
  </table>
</div>
