<h2>Consolidated Order</h2>

<% @supply_types.each do |supply_type| %>
  <% supply_id = supply_type["supply_id"].to_i %>
  <% supply = Supply.find(supply_id) %>
  <% item_count_total = 0 %>
  <% regular_price_subtotal = 0 %>
  <% lines_with_type = @order_lines.where('supply_id = ?', supply_id) %>

  <table class='table'>
    <caption><%= supply.name %></caption>
    <thead>
      <tr>
        <th></th>
        <th>Quantity Ordered</th>
        <th>Unit Price</th>
        <th>Subtotal</th>
        <th>Discount Price</th>
        <th>Savings</th>
      </tr>
    </thead>
  </tbody>

  <% lines_with_type.each do |line_with_type| %>
    <% item_count_total += line_with_type.quantity %>
    <% regular_price_subtotal += supply.unit_price %>
    <tr>
      <td class="active o"><%= line_with_type.order.company.name %></td>
      <td class="active o"><%= line_with_type.quantity %></td>
      <td class="active o"><%= supply.unit_price %></td>
      <td class="active o"><%= supply.unit_price * line_with_type.quantity %></td>
    </tr>
  <% end %>

    <tr>
      <td class="warning o">TOTALS:</td>
      <td class="info o"><%= item_count_total %></td>
      <td class="info o"><%= supply.unit_price %></td>
      <td class="info o"><%= total = item_count_total * supply.unit_price %></td>
      <td class="success o"><%= discount = item_count_total * @discount.calculate(item_count_total, supply.unit_price)  %></td>
      <td class="success o"><%= savings = total - discount %></td>
    </tr>

  </table>

<% end %>
