<div>
  <table class="table">
    <caption>Monthly Invoice</caption>
    <thead>
      <tr>
        <th>Line Number</th>
        <th>Product Name</th>
        <th>Company Name</th>
        <th>Quantity Ordered</th>
        <th>Regular Price</th>
        <th>Discount Price</th>
        <th>Total Price</th>
        <th> Money Saved</td>
      </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
        <% company = Company.find(order.company_id) %>
        <% order.lines.each do |line| %>
          <% supply = Supply.find(line.supply_id) %>

      <tr>
        <th scope="row"><%= line.id %></th>
        <td class="active"><%= supply.name %></td>
        <td class="active"><%= company.name %></td>
        <td class="active"><%= line.quantity %></td>
        <td class="active"><%= supply.unit_price %></td>
        <td class="success"><%= discount = @discount.calculate(line.quantity, supply.unit_price) %></td>
        <td class="active"><%= discount * line.quantity %></td>
        <td class="success"><%= line.quantity * supply.unit_price - discount %></td>
      </tr>

      <% end %>
        <% end %>

    </tbody>
  </table>
</div>
